body {
  font-family: "Rubik", sans-serif;
  font-family: "BIZ UDGothic", sans-serif;
  font-family: "Macondo", cursive;

  background-image: url(../imagenes/landscape.jpg);
}

.bienvenida {
  margin: 30px;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 40px;
}

.div-formulario {
  margin: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

label {
  font-size: 20px;
}

input {
  background-color: rgb(138, 175, 245);
}

button {
  color: rgb(19, 19, 99);
  background-color: rgb(254, 217, 224);
}
