* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Macondo", cursive;
  font-family: "Rubik", sans-serif;
  font-family: "BIZ UDGothic", sans-serif;
  font-family: "Courier Prime", monospace;
}

/*Estilos del Header*/

header {
  display: flex;
  justify-content: center;
}

.titulo {
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: rgba(239, 155, 125, 0.595);
  margin: 40px 20px 20px 20px;
  padding: 20px;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
}

/*Estilos de la sección Formulario*/

#seccFormulario {
  display: flexbox;
  justify-content: center;
  width: 80%;
  margin: 40px;
  padding: 10px;
}

.divFormulario {
  margin: 40;
  padding: 10px;

  justify-content: center;

  font-size: 15px;
  font-weight: bold;

  background-color: rgba(239, 155, 125, 0.595);
}

form {
  align-content: space-around;
}

ol {
}

.divDuracionTotal {
  margin: 40;
  padding: 10px;

  background-color: rgba(239, 155, 125, 0.595);
}
